totem {
    version: 2 
    token:                               3000
    token_retransmits_before_loss_const: 10
    join:                                60
    consensus:                           3600
    vsftype:                             none
    max_messages:                        20
    clear_node_high_bit:                 yes
    rrp_mode:                            none
    secauth:                             off
    threads: 0 
    cluster_name: controller
    interface { 
        ringnumber: 0 
        bindnetaddr: {{ HEARTBEAT_NET }}
        mcastaddr: 224.1.1.2
        mcastport: 5405 
        ttl: 1 
    } 
}

nodelist {
  node {
        ring0_addr: {{ NODE_1 }}
        nodeid: 1
       }
  node {
        ring0_addr: {{ NODE_2 }}
        nodeid: 2
       }
}

quorum {
provider: corosync_votequorum
two_node: 1
}

logging {
    fileline: off 
    to_stderr: no 
    to_logfile: yes 
    to_syslog: no 
    logfile: /var/log/cluster/corosync.log 
    debug: off 
    timestamp: on 
    logger_subsys { 
        subsys: AMF 
        debug: off 
    } 
}

amf {        
    mode: disabled
}
