input{
    rabbitmq {
        host => "{{VIP}}"
        port => 5673
        user => "guest"
        password => "guest"
        durable => true
        exchange => "logstash-rabbitmq"
    }
}
filter{
    ruby{
        code => "event['@timestamp'] = event['@timestamp'].localtime('+08:00')"
    }
    grok{
        patterns_dir => "/opt/logstash/patterns"
        match => { "message" => "%{OPENSTACK_LOG}"}
        add_field => [ "received_at", "%{@timestamp}" ]
    }
    date{
        match => [ "timestamp", "yyyy-MM-dd HH:mm:ss.SSS" ]
        timezone => "Etc/UTC"
    }
    mutate{
        remove_field => "@version"
    }
}
output{
    elasticsearch {
        host => "{{ NODE_1 }}"
        port => 9200
        protocol => "http"
    }
}
