Listen {{ IPADDR }}:8002
<VirtualHost *:8002>
  ServerName www.kibana.com
  DocumentRoot /var/www/html
  Alias /kibana /var/www/html/kibana
  <Directory /var/www/html/kibana>
     Options Indexes 
     AllowOverride None
     Order Deny,Allow
     Deny from all
     Allow from all
  </Directory>

  RedirectMatch permanent  ^/$ /kibana

  Errorlog /var/log/httpd/kibana_error.log
  Customlog /var/log/httpd/kibana.log common
</VirtualHost>
