[DEFAULT]
auth_strategy = keystone
state_path = /var/lib/neutron
lock_path = $state_path/lock

rpc_backend = neutron.openstack.common.rpc.impl_kombu
rabbit_hosts={{VIP}}:5673
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_durable_queues=false
rabbit_ha_queues=true

notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
nova_url = http://{{VIP}}:8774/v2
nova_admin_username = {{AUTH_ADMIN_NOVA_USER}}
nova_admin_tenant_id = {{ SERVICE_TENANT_ID }} 
nova_admin_password = {{AUTH_ADMIN_NOVA_PASS}}
nova_admin_auth_url = http://{{VIP}}:35357/v2.0

core_plugin = ml2
service_plugins = router,lbaas
allow_overlapping_ips = True
bind_host = {{IPADDR}}
dhcp_agents_per_network = 2
api_workers = 4
rpc_workers = 4

dhcp_delete_namespaces = True
router_delete_namespaces = True
[agent]
root_helper = sudo neutron-rootwrap /etc/neutron/rootwrap.conf

[database]
connection = mysql://{{MYSQL_NEUTRON_USER}}:{{MYSQL_NEUTRON_PASS}}@{{VIP}}/{{MYSQL_NEUTRON_DBNAME}}
max_pool_size=10
max_retries=-1
max_overflow=20

[keystone_authtoken]
auth_uri = http://{{VIP}}:5000/v2.0
identity_uri = http://{{VIP}}:35357
admin_tenant_name = service
admin_user = {{AUTH_ADMIN_NEUTRON_USER}}
admin_password = {{AUTH_ADMIN_NEUTRON_PASS}}

[service_providers]
#service_provider = FIREWALL:Iptables:neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver:default
service_provider = LOADBALANCER:Haproxy:neutron.services.loadbalancer.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default
