input{
    rabbitmq {
        host => "{{VIP}}"
        port => 5672 
        user => "{{ RABBIT_USER }}"
        password => "{{ RABBIT_PASS }}"
        exchange => "logstash-rabbitmq"
        durable => false 
        queue => "logstash-queue"
    }
}
