! Configuration File for keepalived

vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface {{ VIP_INTERFACE }}
    virtual_router_id 51
{% if grains['host'] == salt['pillar.get']('basic:corosync:NODE_1') %}
    state BACKUP
    priority 200
{% elif grains['host'] == salt['pillar.get']('basic:corosync:NODE_2') %}
    state BACKUP
    priority 100
{% endif %}
# if use it,the openstack api do not response normally 
#    use_vmac virtualmac
#
    advert_int 1
    dont_track_primary
    nopreempt
    authentication {
    auth_type PASS
    auth_pass password
    }
    virtual_ipaddress {
       {{ VIP }}/{{ VIP_NETMASK }} 
    }
    track_script {
      chk_haproxy
    }
    notify /usr/local/bin/keepalivednotify.sh
}
