cluster.name: elasticsearch_cluster
node.name: {{ HOSTNAME }}

node.master: true
node.data: true

index.number_of_shards: 5
index.number_of_replicas: 1

bootstrap.mlockall: true

http.port: 9200
network.host: {{ HOSTNAME }}
transport.tcp.port: 9300
http.cors.allow-origin: "/.*/"
http.cors.enabled: true

path.data: /var/lib/elasticsearch
